.formcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue ;
    height: calc(100vh - 120px);
}

.formbody{
    padding: 20px;
    background-color: burlywood;
}

.header{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;  
}

.username-container, .password-container {
    padding: 10px;
}

.username-container > label, .password-container > label {
    padding-right: 10px;
}

.signInBtn{
    text-align: center;
    padding:10px;
}

.goToRegister{
    padding: 0 20px;
    margin: 25px 0;
    width: 170px;
    height: 30px;
}