<div class="formcontainer">
    <div class="formbody">
        <form style="width:100%;" [formGroup]="loginForm">
            <div class="header">Sign In</div>
            <div class="username-container">
                <label>Username</label>
                <input type="text" formControlName="username"  placeholder="Username">
            </div>
            <div class="password-container">
                <label>Password</label>
                <input type="password" formControlName="password"  placeholder="Password">
                <span *ngIf="isValid('password')">Password cannot be blank</span>
            </div>
            <div class="signInBtn" >
                <button (click)="login()">Sign In</button>
            </div>
        </form>
    </div>
    <button class="goToRegister" (click)="movetoregister()">Register</button>
</div>