.background{
    background-color: whitesmoke;
    height: calc(100% - 120px);
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.feed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 40%;
    height: 100%;
    margin-left: 30%;
    background-color: rgb(205, 236, 255);
}

.feed-title {
    font-size: 30px;
    margin: 15px 0;
}

.posts-container {
    margin-top: 15px;
}